$clr-white: #f8f7f7;
$clr-black: #201e1f;
$clr-red: #da3f0b;

* {
  box-sizing: border-box;
  margin: 0;
  background: $clr-white;
}

body {
  font-size: 1.75rem;
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  color: $clr-black;

  /* this is being used to center the content on the screen */
  display: grid;
  height: 100vh;
  place-items: center;
}

.card {
  display: grid;
  gap: 0.75em;
  width: min(90%, 60rem);
  padding: 2em;
  box-shadow: $clr-black;
  &__title {
    color: #da3f0b;
  }
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  text-decoration: none;
  border: $clr-red 1px solid;
  &:hover,
  &:focus {
    background: $clr-black;
    color: $clr-white;
    box-shadow: $clr-red;
  }
  &--primary {
    color: $clr-white;
    background: $clr-red;
  }
  &--outline {
    background: $clr-white;
    color: $clr-red;
  }
}

.flex-group {
  display: flex;
  gap: 1rem;
}
